@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');



*{
    font-family: Georgia, sans-serif, serif ;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}

html{
    font-size: 62.5%; 
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: silver;
    border-radius: 5rem;
}

body{
    background: #28B463;
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#000000;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:white;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: black;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 7rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}

.header .navbar a:hover{
    color: white;
    border-bottom: .1rem solid white;
    padding-bottom: .5rem;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:wheat;
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: white;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:rgb(0, 0, 0);
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: white;
}

.header .search-form label:hover{
    color:wheat;
}

.header .cart-items-container{
    position: absolute;
    top:100%; 
		right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding:0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; 
		right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

.header .cart-items-container .cart-item .fa-times:hover{
    color: white;
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color:black;
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:black;
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

.home{
	min-height: 100vh;
	display: flex;
	align-items: center;
	background: #28B463;
	background-size: cover;
	background-position: center;
}
	

.home .content{
	max-width: 60rem;
}
.home .content h3{
	font-size: 5rem;
	text-transform: uppercase;
	color: rgb(214, 184, 11);
	text-shadow: #000000;
}
.home .content p{
	font-size: 2rem;
	text-transform: uppercase;
	color: black;
	font-weight: lighter;
	line-height: 1.8;
	padding: 1rem 0;
	
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(30rem,1fr));
    gap: 1.5rem;
}
.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: black;
}


.menu .box-container .box img{
    height: 20rem;
}

/*about section*/

.about .row{
	display: flex;
	align-items: center;
	background: black;
	flex-wrap: wrap;
}
.about .row .image{
	flex: 1 1 45rem;
}
.about .row .content{
	flex: 1 1 45rem;
	padding: 2rem;
}
.about .row .content h3{
	font-size: 3rem;
	color: #fff;
}
.about .row .content p{
	font-size: 1.6rem;
	color: #ccc;
	padding: 1rem 0;
	line-height: 1.8;
}
.about .row .image img{
 width: 100%;
}


/* menu section*/

.formbold-mb-5 {
  margin-bottom: 20px;
}
.formbold-pt-3 {
  padding-top: 12px;
}
.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background: white;
}
.formbold-form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  margin-bottom: 12px;
}
.formbold-form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.formbold-form-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}
.formbold-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.btn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: #6a64f1;
  color: white;
  width: 100%;
  cursor: pointer;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
  margin-left: -12px;
  margin-right: -12px;
}
.formbold-px-3 {
  padding-left: 12px;
  padding-right: 12px;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}
@media (min-width: 540px) {
  .sm\:w-half {
	width: 50%;
  }
}

/* Service section */

.grid-container {
	display: grid;
	column-gap: 10px;
	grid-template-columns: auto auto auto;
	background-color: #12dd67;
	padding: 5px;
	height: 500px;
  }
  
  .grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 6px;
	font-size: 18px;
	text-align: left; 
  }

/* Service section */  

/* gallery */

.menu .box-container{
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 1.5rem;
}
.menu .box-container .box{
	padding: 3rem;
	text-align: center;
	border: black;
}

.menu .box-container .box img{
	height: 30rem;
}

/*products section*/
.products .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit , minmax(30rem,1fr));
	gap: 1.5rem;

}
.products .box-container .box{
	text-align: center;
	border: black;
	padding: 2rem;
}


.products .box-container .box .icons a{
	height: 5rem;
	width: 5rem;
	line-height: 5rem;
	font-size: 2rem;
	border: black;
	color: #fff;
	margin: 0.3rem;
}

.products .box-container .box .icons a:hover{
	background: black;
}
.products .box-container .box .image{
	padding: 2.5rem 0;
}


.products .box-container .box .image img{
	height: 25rem;
}
.products .box-container .box .content h3{
	color: #fff;
	font-size: 2.5rem;
}
.products .box-container .box .content .stars{
	padding: 1.5rem;
}
.products .box-container .box .content .stars{
 font-size: 1.7rem;
 color: white;
}
.products .box-container .box .content .price{
	color: #fff;
	font-size: 2.5rem;
}

/* review section*/
.review .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit , minmax(30rem,1fr));
	gap: 1.5rem;
}
.review .box-container .box{
	border: rgb(0, 0, 0);
	text-align: center;
	padding:  3rem 2rem;
}
.review .box-container .box p{
	font-size: 1.5rem;
	line-height: 1.8;
	color: #ccc;
	padding: 2rem 0;
}
.review .box-container .box .user{
	height: 300px;
	width: 300px;
	border: black;
	border-radius: 10%;
	border-color: #ccc;
	
}
.review .box-container .box h3{
	padding: 1rem 0;
	font-size: 2rem;
	color: #fff;
}

.review .box-container .box .stars i{
	font-size: 1.5rem;
	color: black;
}
/*contact section*/
.contact .row{
	display: flex;
	background: #12dd67;
	flex-wrap: wrap;
	gap:1rem;
}

.contact .row .map{
	flex:1 1 45rem;
	width: 100%;
	object-fit: cover;
}

.contact .row form{
	flex:1 1 45rem;
	padding:5rem 2rem;
	text-align: center;
}

.contact .row form h3{
	text-transform: uppercase;
	font-size: 3.5rem;
	color:#000000;
}

.contact .row form .inputBox{
	display: flex;
	align-items: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
	background:white;
	border:black;
}

.contact .row form .inputBox span{
	color:#000000;
	font-size: 2rem;
	padding-left: 2rem;
}

.contact .row form .inputBox input{
	width: 100%;
	padding:2rem;
	font-size: 1.7rem;
	color:#000000;
	text-transform: none;
	background:none;
}


.blogs .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap:1.5rem;
}

.blogs .box-container .box{
	border:white;    
}

.blogs .box-container .box .image{
	height: 25rem;
	overflow:hidden;
	width: 100%;
}

.blogs .box-container .box .image img{
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.blogs .box-container .box .content{
	padding: 2rem;
}

.blogs .box-container .box .content .title{
	font-size: 2.5rem;
	line-height: 1.5;
	color: #fff;
}


.blogs .box-container .box .content span{
	color: black;
	display: block;
	padding-top: 1rem;
	font-size: 2rem;
}
.blogs .box-container .box .content p{
	font-size: 1.6rem;
	line-height: 1.8;
	color: #ccc;
	padding: 1rem 0;
}

/*footer section*/
.footer{
	background:black;
	text-align: center;
}

.footer .share{
	padding:1rem 0;
}

.footer .share a{
	height: 5rem;
	width: 5rem;
	line-height: 5rem;
	font-size: 2rem;
	color:#fff;
	border:white;
	margin:.3rem;
	border-radius: 50%;
}


.footer .share a:hover{
	background-color: blue
}

.footer .links{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding:2rem 0;
	gap:1rem;
}

.footer .links a{
	padding:.7rem 2rem;
	color:#fff;
	border:black;
	font-size: 2rem;
}

.footer .links a:hover{
	background:wheat;
}

.footer .credit{
	color:#fff;
	font-weight: lighter;
	font-size: 2rem;

}


.footer .credit .developer-info a{
	color: white;
	font-weight: 400;
	font-size: 2rem;
}
.footer .credit .developer-info{
	font-size: 2rem;
}
.footer .credit .orignal{
	color: #fff;
	font-size: 16px;
	margin-bottom: 15px;
}





/* media queries  */
@media (max-width:991px){

	html{
			font-size: 55%;
	}

	.header{
			padding:1.5rem 2rem;
	}

	section{
			padding:2rem;
	}

}

@media (max-width:768px){

	#menu-btn{
			display: inline-block;
	}

	.header .navbar{
			position: absolute;
			top:100%; right: -100%;
			background: #fff;
			width: 30rem;
			height: calc(100vh - 9.5rem);
	}

	.header .navbar.active{
			right:0;
	}

	.header .navbar a{
			color: black;
			display: block;
			margin:1.5rem;
			padding:.5rem;
			font-size: 2rem;
	}

	.header .search-form{
			width: 90%;
			right: 2rem;
	}

	.home{
			background-position: left;
			justify-content: center;
			text-align: center;
	}

	.home .content h3{
			font-size: 4.5rem;
	}

	.home .content p{
			font-size: 1.5rem;
	}

}

@media (max-width:450px){

	html{
			font-size: 50%;
	}

}